<div class="container" ng-controller="VotingCtrl">
	<div ng-hide="viewTally">
		<div class="row">
			<div class="col col-md-12">
				<label>Your name</label>
				<input type="text" class="form-control" ng-model="voter"></input>
			</div>
		</div>
		
		<div class="row">
			<div class="col col-md-6">
				<label>Filter</label> <input type="text" class="form-control" ng-model="searchVal"></input>
			</div>
			
			<div class="col col-md-3">
				<span class="btn btn-default"><i class="fa fa-refresh" ng-click="refreshList()"></i></span>
			</div>
			
			<div class="col col-md-3">
				<span class="btn btn-default"><i class="fa fa-save" ng-click="saveRestaurants()"></i></span>
			</div>
		</div>

		<div class="row">
			<div class="form-group col col-md-3" ng-repeat="restaurant in restaurants | filter:searchByName">
				<div class="input-group" ng-click="voteOrRevoke(restaurant)">
					<span class="input-group-addon" ng-if="!hasVoted(restaurant)"><i class="fa fa-plus"></i></span>
					<span class="input-group-addon" ng-if="hasVoted(restaurant)"><i class="fa fa-minus"></i></span>
					<span class="form-control" ng-bind="restaurant.name" ng-class="{'input-success':hasVoted(restaurant)}"></span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col col-md-12">
				<div class="col col-md-12 btn btn-primary" ng-click="showTally()">Tally ho!</div>
			</div>
		</div>
	</div>
	
	<div ng-show="viewTally">
		<ul>
			<li ng-repeat="restaurant in restaurants | filter: hasVotes | orderBy:voted.length as restaurantTallys">
				<span ng-bind="restaurant.name" class="col col-md-4"></span>
				<span ng-bind="restaurant.voted.length" class="col col-md-2" ng-click="viewVotees = !viewVotees"></span>
				<ul ng-if="viewVotees">
					<li ng-repeat="votee in restaurant.voted">
						<span ng-bind="votee"></span>
					</li>
				</ul>
			</li>
			<li ng-if="restaurantTallys.length == 0">
				<strong>No votes yet</strong>
			</li>
		</ul>
		<div class="btn btn-primary" ng-click="back()">Back</div>
		<div class="btn btn-danger" ng-click="revote()">Revote</div>
	</div>
</div>